<style>
    body{
        background-color: {{fondo}};
    }

    #centro{
        background-color: {{centro}};
    }

    #volver{
        background-color: coral;
        border-radius: 10px;
        font-size: large;
    }
</style>


<a href="/home"><button id="volver">&#8249;</button></a>

<div id="centro">
    <form action="/color" method="post">
        <label>Fondo: </label><input type="color" name="fondo" value="{{fondo}}"><br>
        <label>Centro: </label><input type="color" name="centro" value="{{centro}}"><br>
        <label>Barra Lateral: </label><input type="color" name="barra" value="{{barra}}"><br>
        <input type="submit" value="Decorar">
    </form>
</div>